<!DOCTYPE html>
<html lang="fa-ir">
{% load static %}
<head>
    <title>ورود | تقویم دانشجویی</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/iransans@1.4.0/dist/font-face.css" />

</head>
<body dir="rtl">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 d-flex img" style="background-image: url({% static 'images/bg.jpg' %});">
                            <div class="text w-100">
                                <h2 class="mb-4" style="font-family:vazir; text-align: right">به تقویم دانشجویی خوش آمدید</h2>
                                <p style="font-family:vazir; text-align: justify">خستگی را کنار بگذارید، اما هرگز امید را رها نکنید. از فکر کردن به شکست هایتان دست بکشید، اما هرگز از اهداف تان دست نکشید. فکر کردن به گذشته را رها کنید، اما هرگز آینده را به حال خود رها نکنید.</p>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="row justify-content-center py-md-5">
                                <div class="col-lg-9">
                                    <div class="social-wrap">
                                        <h3 class="mb-3 text-center" style="font-family: vazir">وارد شدن با سرویس های زیر</h3>
                                        <p class="social-media d-flex justify-content-center">
                                            <a href="#" class="social-icon google d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a>
                                            <a href="#" class="social-icon facebook d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                            <a href="#" class="social-icon twitter d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                        </p>
                                        <p class="or">
                                            <span style="font-family: vazir">یا</span>
                                        </p>
                                    </div>
                                    <form action="#" method="post" class="signup-form">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: right">
                                                <div class="form-group">
                                                    <label class="label" for="email"  style="font-family: vazir">آدرس ایمیل</label>
                                                    {{ form.email }}
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="text-align: right">
                                                <div class="form-group">
                                                    <label class="label" for="password" style="font-family: vazir">پسورد</label>
                                                    {{ form.password }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group row" style="text-align: right">
                                                    <label class="col-3" style="font-family: vazir">تصویر امنیتی:</label>
                                                    <div class="col-9">
                                                        {{ form.recaptcha }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="text-align: center">
                                                <div class="form-group btn-primary-center">
                                                    <button type="submit" class="btn btn-primary btn-primary-center"style="font-family: vazir">وارد شدن</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="w-100">
                                        <p class="mt-4" style="font-family:vazir; text-align: center">کاربر جدید هستید؟ <a href="{% url 'accounts:signup' %}">ثبت نام</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'base/js.html' %}
</body>
{{ redirect_to_login_immediately }}

</html>
